


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

.contr {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputemail, .inputpassword {
    height: 40px;
    padding: 0 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}

#submitbtn {
    background-color: green;
    padding: 0 15px;
    height: 40px;
    color: aliceblue;
    border-radius: 4px;
    width: 100%;
    max-width: 200px;
    cursor: pointer;
    border: none;
}

#home_container {
    display: none;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

#home_container h1 {
    margin-bottom: 10px;
}

#user_email_display {
    /* margin-top: 1px;
    margin-left: 70%;
    margin-bottom:0;
    font-size: 20px; */
}

#logout {
    background: none;
    border: none;
    background-color: chocolate;
    color: white;
    cursor: pointer;
    margin-left: 80%;
    margin-bottom:0;
    font-size: 15px;
    border: 1px solid black;
    padding: 2px 10px;
    border-radius: 15px;
    
    /* background-color: orange; */
}

#note {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
} */

 #notesList {
    list-style-type: none;
    padding: 0;
}

@media (min-width: 768px) {
    .contr {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .inputemail, .inputpassword {
        width: 48%;
    }

    #submitbtn {
        width: auto;
        
    }
}
#listItems{
    margin: 10px;
}
#hello{
    padding: 4px 9px;
    background-color: green;
    color: white;
    border-radius: 15px;
    font-size: 15px;
}

